NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_WEBSOCKET_URL=ws://localhost:3000/api/ws
# Laravel backend URL (private - chỉ server Next.js biết)
LARAVEL_API_URL=http://dlt.dev1.local/api

# Debug mode
# Set in .env.development (true) và .env.production (false)
# NEXT_PUBLIC_IS_DEBUG=true
